html {
    background-color: cornflowerblue;
}
label {
    display: block;
    padding-bottom: 5px;
    position: relative;
}
input{
    position: absolute;
    left: 15%;
    width: 75%;
}
.submit {
    width: initial;
    position: initial;
}
.container {
    margin: auto;
    width: 80%;
    padding: 25px;
    border-radius: 5px;
    background-color: aliceblue;
}
h1{
    text-align: center;
}
select {
    width: 20%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(184, 181, 181);
}